/*Padraig McCauley 20123744 HCOMPE1 */

@import url('https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap');
 body{
	font-family: 'Gowun Dodum', sans-serif;
}
.navigation {
	overflow: hidden;
	background-color: #F3EED9;
	position: relative;
}
/* burger menu lines */
.burger{
	width: 35px;
	height: 2px;
	background-color: black;
	margin: 5px 0;
}
/*drop down menu - hidden by default*/
.navigation #myLinks {
	display: none;
}
.activeNav {
	background-color: #2F4858;
}
#homeText{
	color:#F3EED9;
}
 #homeText:hover{
    color: black;
}
.navigation a {
	color:#2F4858;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
}
.navigation .icon {
	background: #F3EED9;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}
.navigation a:hover {
	background-color: #ddd;
	color: black;
}
p{
	font-size:x-large;
}
/* stickyNav function addes this class to the nav bar on scroll*/
.sticky {
	position: fixed;
	top: 0;
	width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) 
	- idea taken from W3 Schools */
.sticky + .content {
	padding-top: 60px;
}
#sectionOne {
    /* background: #CE6EA6;
     */
	text-align: center;
	background-image:url(images/meditation.jpg);
	background-size:cover;
	background-position: 50% 50%;
	justify-content:space-between;
	color:white;
	text-shadow: 0 0 2px black;
	padding-bottom: 25em;
	margin:auto;
}
#morphbox{
	width: 12em;
	height: 12em;
	border:#F3EED9 1em solid;
	background-color: red;
	animation: morphColour 16s infinite;
	transition: all 1s;
}
#morphbox:hover{
	transform:scale(1.1);
	border-color: #2F4858;
}
@keyframes morphColour {
	0% {
        background-color: red;
    }
	50% {
        background-color: blue;
    }
	100% {
        background-color: red;
    }
}
#sectionTwo{
	background: #DBF2FF;
	text-align:right;
	/* background-image:url(images/forest.jpg);
	background-size:cover;*/
	color:#2F4858 
	/* text-shadow: 0 0 2px black; */
}
#sectionThree{
    /* background: #BFA6A2;*/
	background-image:url(images/meditation2.jpg);
	background-size:cover;
    /* text-shadow: 0 0 2px black;*/
	text-align:left;
	font-size:1.5em;
	font-weight:bold;
    /* color:#2F4858;*/
	padding: 15em 0em;
	color:#F3EED9;
}
#sectionFour{
	background: #DBF2FF;
	text-align:right;
    /* text-shadow: 0 0 6px black;*/
	justify-content:space-between;
	padding: 6em 0em;
	color:#2F4858;
}
#sectionFive{
	padding: 10em 0 ;
	background:#F3EED9;
	text-align:center;
	color:#2F4858;
    /* color:white;
	text-shadow: 0 0 6px black;*/
	text-decoration: none;
}
/* #sectionFive ul{
     text-align:center;
}
 */
.sections{
	padding: 3em 0;
	overflow:hidden;
}

img{
	display:block;
	width: 100%;
	height:300px;
	transition: all 1s;
	margin:auto;
}
#sectionFour img:hover{
	cursor:pointer;
}
img:hover{
	transform:scale(1.03);
}
.imageFit{
	display:block;
	border-radius: 4px;
	margin:4px;
	height:100%;
	width:100%;
}
#rowSection2{
	justify-content:space-between;
	padding:10em 0em;
	text-align:left;
}

.opBoxLight{
	background-color:#F3EED9;
	color: #2F4858;
}
.opBoxDark{
	color:#F3EED9;
	background-color:#2F4858;
}
#medForBegin{
	text-align:right;
}
#sectionTwoText{
	border-left: white 2px;
}
#contactForm{
	text-align:left;
}
#img1, #img2, #img3, #img4, #img5, #img6{
	display:none;
}
.container{
	margin:auto;
	overflow:hidden;
}
#logo{
	width:100%;
	height:100%;
	justify-content:center;
	margin:inherit;
	animation: grow 5s;
}
@keyframes grow {
	0% {
        height:0%;
        width:0%
    }
	100% {
        height:100%;
        width:100%
    }
}
.sectionOneText{
	margin:auto;
	justify-content: center;
	align-items: baseline;
	text-align:center;
	animation: fade 5s;
}
@keyframes fade{
	0% {
        color:#2F4858}
	100% {
        color:white}
}
.container .col-lg-6{
	justify-content: center;
}

#footer img{
	justify-content:inline;
	height:20%;
	width:20%;
}

textarea{
	max-width: 100%;
}
 
/* Media query section for screen-size variations*/
@media screen and (max-width: 800px) {
	/* For larger mobile phones/tablets: */
	[class*="sections"] {
	  width: 100%;
	  justify-content: center;
	}

	img{
		width:80%;
		height:275px;
		max-height:275px;
	}
	@keyframes grow {
		0% {
			height:0%;
			width:0%
		}
		100% {
			height:50%;
			width:60%;
		}
	}

	#img1, #img2, #img3, #img4, #img5, #img6{
		float:left;
		margin:auto;
		height:50%;
		text-align:center;
	}
	#imagefit{
		display:block;
		height:50%;
		float:left;
		margin:10%;
		text-align:center;
	}
	#logo{
		width:60%;
		height:50%;
	}
}

@media screen and (max-width: 450px) {
	/* For small screen mobile phones: */
	[class*="sections"] {
	  width: 100%;
	  justify-content: center;
	  
	}
	img{
		width:80%;
		height:200px;
		max-height:200px;
	}
	@keyframes grow{
		0% {
			height:0%;
			width:0%
		}
		100% {
			height:50%;
			width:60%;
		}
	}
	#imgfit{
		text-align: center;
	}
  }
