/*
Author:Padraig McCauley 20123744
Date: 29-07-2021
Random number generator & arrays
*/

div{
    justify-content: flex-start;
    border:2px;
}
body{
    display:flex;
    text-align:center;
    font-family: 'Ubuntu', sans-serif;
    
}
.row {
    margin-top:50px;
    min-height:50px;
    justify-content: space-between;
}
img{
    max-width:100%;
    max-height:auto;
    display:block;
}
.returnDiv{
    font-style:bold;
}
span{
    color:red;
    font-weight:bold;

}