
h1{
    color:antiquewhite;	
    text-align:center;
}
h2{
    color:antiquewhite;
    
}
h3{
    color:antiquewhite;
}
p{
    color:whitesmoke;
}

.headings{
    text-shadow: 2px 2px 5px rgb(173, 173, 224);
}
.underline{
    text-decoration: underline;
    font-weight: bold;
}
.square{
    list-style-type: square;
}
ul{
    color:antiquewhite;	
    list-style-type: circle;
}
div{
    color:antiquewhite;
    justify-content: flex-start;
    border:2px;
}
body{
    background:black;
    font-family:Helvetica;	

}
@media(min-width:400px){
    .containerOne{
        display:flex;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .containerTwo{
        display:flex;
        flex-direction:row;
        justify-content:space-between;
    }
    .containerThree{
        display:flex;
        align-items: center;
        justify-content:space-between;
    }
}
.boxed{
    flex:auto;
}
.containerOne, .containerTwo, .containerThree{
    border: 1px;
    padding:10px;
}
